<div class="container-fluid mx-auto my-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto my-5 text-center">
        <h4 class="mx-auto text-center text-uppercase">
            Nos réseaux sociaux
        </h4>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto text-center">
        <ul style="list-style: none;" class="row text-center mx-auto col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">

            <li class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
                <a href="https://www.youtube.com/channel/UCPmkx1MkOfQdYFiG0j8LWkQ" target="_blank" rel="noopener noreferrer nofollow"
                   class="network__link--media"
                   title="chaine youtube d'exasploit">
                    <i class="fab fa-youtube-square fa-3x text-primary"></i>
                </a>
            </li>

            <li class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
                <a href="https://www.facebook.com/Exasploit" target="_blank" rel="noopener noreferrer nofollow"
                   class="network__link--media"
                   title="page facebook d'exasploit">
                    <i class="fab fa-facebook-square fa-3x text-primary"></i>
                </a>
            </li>

            <li class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mx-auto mt-2">
                <a href="https://twitter.com/exasploit" target="_blank" rel="noopener noreferrer nofollow"
                   class="network__link--media"
                   title="compte twitter d'exasploit">
                    <i class="fab fa-twitter fa-3x text-primary"></i>
                </a>
            </li>

            <li class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 mx-auto  mt-2">
                <a href="https://discord.exasploit.com" target="_blank" rel="noopener noreferrer nofollow"
                   class="network__link--media"
                   title="serveur discord d'exasploit">
                    <i class="fab fa-discord fa-3x text-primary"></i>
                </a>
            </li>

        </ul>
    </div>
</div>