.form-control {
  border: 1px outset #0037E5 !important;
  box-shadow: 2px 2px 2px 2px #000 !important;
}

.link-xs {
  font-family: $font2 !important;
  letter-spacing: 0.4rem;
  font-size: 2rem;
  text-decoration: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;


  &:hover {
    color: red;
  }

  &::after {
    color: #007BFF !important;
  }



  // Large devices (desktops, 992px and up)
  @media (max-width: 992px) {
    font-size: 1.8rem !important;
    letter-spacing: 0.1rem !important;
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    font-size: 1.6rem !important;
    letter-spacing: 0.2rem !important;
  }

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 576px) {
    font-size: 1.4rem !important;
    letter-spacing: 0.1rem !important;
  }



}