<!--teplate email lors d'un nouveau contact sur le site-->

<h1 style="text-align: center; margin: 2vh auto;">Message en provenance de Corona-vaccination.be</h1>

<h2 style="text-align: center; margin: 5vh auto;">Résumé du nouveau message : </h2>


<div style="width:20vw; margin: auto;"><hr></div>

<h3 style="text-align: center; margin: auto;">E-mail :</h3>
<p style="text-decoration: none; color: red; font-size: 18px; text-align: center; margin: 2vh auto;">
    {{contact.email }}
</p>

<div style="width:20vw; margin: auto;"><hr></div>

<h3 style="text-align: center; margin: auto;">Objet:</h3>
<p style="color: blue; font-size: 18px; text-align: center; margin: 2vh auto;">
    {{contact.objet }}
</p>

<div style="width:20vw; margin: auto;"><hr></div>

<h3 style="text-align: center; margin: auto;">Message :</h3>
<p style="color: blue; font-size: 18px; text-align: center; margin: 10vh auto !important;">
    {{contact.message }}
</p>
