<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}EXASPLOIT | Hacking Made Simple{% endblock %}</title>

        <!--META start-->
        {% include ('incs/head/meta.html.twig') %}
        <!--META stop-->

        <!--favicon start-->
        {% include ('incs/head/favicon.html.twig') %}
        <!--favicon stop-->

        <!--analytics start-->
        {% include ('incs/head/analytics.html.twig') %}
        <!--analytics stop-->

        <!--style start-->
        {% include ('incs/head/style.html.twig') %}
        <!--style stop-->

        <!--cookie-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}


    </head>

    <body>

        {% include ('incs/header.html.twig') %}

        <main class="container-fluid mx-0 mt-5">
            {% block body %}



            {% endblock %}
        </main>

        <!-- import du footer -->
        {% include ('incs/footer.html.twig')%}

        <!-- import du footer -->
        {% include ('incs/cookie.html.twig')%}


    </body>
</html>
