/* breakpoints bootstrap -taille d'écran- */

/*
// Extra large devices (large desktops, 1200px and up)
@media screen and  (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media screen and (min-width: 992px) {

}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) {

}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) {

}

// Small devices (portrait phones, 300px and up)
@media screen and (max-width: 575.98px) {

}
*/

/* app.scss fichier de surcharge */


html, body {
  padding: 0 !important;
  margin: 0 auto !important;
  box-sizing: border-box;
  max-width: 100% !important;
  height: 100% !important;
}
html {
  scroll-behavior: smooth;
}

main {
  min-height: 80vh !important;
}

/*cache des elements*/
.hidden {
  display: none;
}

/*imports des polices*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Hammersmith+One&family=Permanent+Marker&display=swap');

/*utilisation des polices*/
/*
font-family: 'Cairo', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

/*variables des polices*/

/*Cairo*/
$font1: 'Cairo', sans-serif;
/*Permanent Marke*/
$font2: 'Permanent Marker', cursive;
/*Pacifico*/
$font3: 'Hammersmith One', sans-serif;

/*boutons sociaux*/
@import 'mixins/_breakpoints.scss';
/* Colors */
$primary: white;
$primary2: #0037E5;
$light: #FCFCFC;

.network {
  background-color: $primary;

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  &__link {
    color: $light;

    &--media {
      color: $light;

      display: flex;
      justify-content: center;
      border-radius: 15px;
      align-items: center;
      overflow: hidden;
      padding: 1vh 0;

      &:hover {
        color: $primary2;
        animation: glow 1.2s infinite alternate;
        text-decoration: none;

      }
    }
  }
}

/* Social media buttons keyframe */
@keyframes glow {
  0% {
    box-shadow: 0 0 20px $primary2;
  }
  100% {
    box-shadow: 0 0 50px $primary2;
  }
}
